-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.
= render 'components/accordion/card', title: title, additional_classes: 'students-on-module-container', id: student_list_box_id do
  .d-flex
    .justify-content-start
      = link_to mail_path(contact_method: "students_in_module", selected_module: course_module_id), class: "btn btn-secondary fs-8 bi-envelope-at mr-4", style: "height: auto; margin-right: calc(0.8rem + 0.1vw);" do
        Email Class
      = link_to mail_path(contact_method: "custom_list"),class: "btn btn-primary fs-8 bi-envelope-at email-selected-students-btn", style: "height: auto;" do
        Email Selected Students
    .d-flex.justify-content-end{ style: "flex: 1;" }
      %button.btn.btn-secondary.me-2{type: "button", class: "remove-students-btn"}
        %i.bi.bi-trash-fill
        Remove
      %button.btn.btn-primary{type: "button", "data-bs-toggle": "modal",
      "data-bs-target": "#addStudentsModal", onclick: get_module_code(student_list_box_id)}
        %i.bi.bi-plus
        Add
  %div.overflow-auto
    %table.table.selectable-row-container
      %thead
        %tr
          %th{scope: "col"}
          %th{scope: "col"} Name
          %th{scope: "col"} Email
          %th{scope: "col"} Registration Number
        %tbody
          - x = get_student_by_module(remove_after_indent(title))
          - for i in 0...x.size do
            = render 'student_selectable_row', student: x[i]