// This file is a part of Projman, a group project orchestrator and management system,
// made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

- @students_added.each do |student|
    var newPartialHTML = "#{j(render(partial: 'student_selectable_row', locals: { student: student }))}";
    var module_code = "#" + "#{@module_code}"
    $(".students-on-module-container" + module_code + " .card-body table tbody").append(newPartialHTML);