
%h1 Progress Form

%hr.divider

%h2 Settings
.row.align-items-center
  .col
    .form-check.form-switch
      %input.form-check-input{ type: "checkbox", id: "attendance-checkbox", checked: true }
      %label.form-check-label{ for: "attendance-checkbox" }= "Require attendance?"

  .col-auto
    %label{for: "release-date-input"} Release Date
    %input.form-control#release-date-input{type: "date"}
    %small.text-danger.d-none#release-date-input-error Must set a release date

%hr.divider

#questions-container
         
.modal.fade{ id: "add-question-modal", tabindex: "-1", "aria-labelledby": "add-question-modal", "aria-hidden": "true", "data-disallow-confirm-empty-input": "" }
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        %h1.modal-title.fs-5= "Add new question"
        %button.btn-close#add-question-close-button{ "aria-label": "Close", "data-bs-dismiss": "modal", type: "button" }

      .modal-body
        .form-group
          //%input.form-control.form-control-lg{type: "text", placeholder: "test"}
          %textarea.form-control#question-text-area{placeholder: "What is the weather like today?", required: true}
          %small.text-danger.d-none#question-text-area-error Question cannot be empty

      .modal-footer
        %button.btn.btn-primary{ type: "submit", id: "add-question-button"}= "Add"

%button.btn.btn-outline-primary.w-100{type: "button", id: "create-question-button", "data-bs-toggle": "modal", "data-bs-target": "#add-question-modal"}
  %i.bi.bi-plus-circle-fill
  Add new question 

%button.btn.btn-primary.mt-2#save-button{type: "button"}
  %i.bi.bi-floppy
  Save

:javascript
  // Helpers
  function dateToYYYYMMDD(date) {
    // Helper for parsing a date object into a min object
    var dd = date.getDate();
    var mm = date.getMonth() + 1; // January is 0
    var yyyy = date.getFullYear();

    if(dd < 10) { dd = '0' + dd } 
    if(mm < 10) { mm = '0' + mm } 

    return yyyy + '-' + mm + '-' + dd;
  }

  document.addEventListener("DOMContentLoaded", function() {
    // Only display future times for the release date
    // TODO: Time picker?
    var minReleaseDate = new Date();
    minReleaseDate.setDate(minReleaseDate.getDate() + 1);

    // Set min attribute of date input to current date
    const releaseDateInput = document.getElementById("release-date-input");
    releaseDateInput.min = dateToYYYYMMDD(minReleaseDate);

    // Add question events
    const addQuestionBtn = document.getElementById("add-question-button");
    const questionsContainer = document.getElementById("questions-container");

    addQuestionBtn.addEventListener("click", function(e) {
      let questionsTextArea = document.getElementById("question-text-area");
      let questionsTextAreaError = document.getElementById("question-text-area-error");

      if (questionsTextArea.value.trim() === "") {
        // TODO: Show cannot be empty... Or is this done on controller?
        questionsTextArea.classList.add("is-invalid");
        questionsTextAreaError.classList.remove("d-none")

        return; 
      }
      questionsTextArea.classList.remove("is-invalid");
      questionsTextAreaError.classList.add("d-none")

      fetch("/progress_form/add_question", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").getAttribute("content")
        },
        body: JSON.stringify({ 
          question: questionsTextArea.value.trim(),
        })
      })
      .then(response => response.text())
      .then(html => {
        const temp = document.createElement("div");
        temp.innerHTML = html.trim();
        questionsContainer.appendChild(temp);
        document.getElementById("question-text-area").value = "";

      })
      .catch(error => console.error("Error when trying to add question:", error));

      // This is the only way I could figure out how to close the modal and play the animation
      document.getElementById("add-question-close-button").click();
    });


    // Save form events
    const saveBtn = document.getElementById("save-button");
    saveBtn.addEventListener("click", function(e) {
      // Check data is filled in on client side and show errors
      // TODO: Should also be done in the controller... or, should it all be done in controller and this should
      //       be done from ajax response?
      let dataInvalid = false;

      let releaseDateInputError = document.getElementById("release-date-input-error");
      
      if (releaseDateInput.value === "") {
        // Show that it cannot be empty
        releaseDateInput.classList.add("is-invalid");
        releaseDateInputError.classList.remove("d-none");

        return;
      }
      else {
        releaseDateInput.classList.remove("is-invalid");
        releaseDateInputError.classList.add("d-none");
      }
       
      fetch("/progress_form/save_form", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").getAttribute("content")
        },
        body: JSON.stringify({ 
          // TEMP: This can be empty for now I believe, will need to pass in date etc after
          "release_date": releaseDateInput.value,
          "attendance": document.getElementById("attendance-checkbox").checked
        })
      })
      .then(response => response.json())
      .then(json => {
        // Handle response
        if (json["status"] == "success") {
          alert("success");

          window.location.href = json["redirect"];
        }
        else {
          alert("failed");
        }
      })
      .catch(error => console.error("Error when trying to save form:", error));



      

      // TODO: We should bring up a preview before finallyyyyy submitting and saving.
    });

  });