-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

- ran_num = "#{SecureRandom.hex(5)}"  # Generate a unique ID
- unique_id_container = "accordion-container-" + ran_num

.accordion-section{id: "#{unique_id_container}"}
  -# the accordion cards
  = yield


  #backToTopButton.btn.btn-primary
    Back to Top
    %i.bi.bi-chevron-double-up

-# :javascript
-#   window.onload = function () {
-#     const id = "##{unique_id_container}"
-#     const updateEvent = "scrollHeightChanged"
-#     $(() => {
-#       $(id).on(updateEvent, () => {
-#         if ($(id).hasScrollBar()) {
-#           $('#backToTopButton').show()
-#         } else {
-#           $('#backToTopButton').hide()
-#         }
-#       })
-#       $(id).bind('DOMSubtreeModified', () => {
-#         setTimeout(() =>
-#         {
-#           // $(id).trigger(updateEvent)
-#           if ($(id).hasScrollBar()) {
-#             $('#backToTopButton').show()
-#           } else {
-#             $('#backToTopButton').hide()
-#           }
-#         }, 3000);
-#       });
-#     })
-#   }
