-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

- form_action = defined?(deletion_action_url) ? deletion_action_url : '/placeholder_post_url'

%li.list-group-item.ps-1.d-flex.align-items-start.row.list-group-item-partial.milestone-row{'form_action': form_action}
  .col.d-flex.align-items-center
    %button.btn.btn-light.btn-sm.me-2.btn-delete{type: "button"}
      %i.bi.bi-x.text-secondary
    %span.fs-6= item_text
    %input{ type: "hidden", name: name, value: name, "item_text": "", class: "hidden-row-value"}
  .col-lg-8.d-flex.fs-6
    .input-group.me-3{style: "min-width: fit-content; max-width: fit-content;"}
      %input.form-control{ type: "datetime-local", id: "date_time_input", name: (name + "_date"), value: defined?(date_value) ? date_value : "", placeholder: "Select Date", min: defined?(min_date) ? min_date : ""}
      -# = render partial: 'components/datepicker_input', locals: { placeholder_text: "Select Date", name: (name + "_date"), date_value: defined?(date_value) ? date_value : "" }

    %select.form-select.fs-6.me-3{ "aria-label": "selection box", "style": "width: fit-content", name: name+"_type" }
      - milestone_types = session[:project_data][:milestone_types_hash]
      - milestone_types.each do |value, string|
        %option{value: value, selected: (selected_type.present? ? selected_type == value : value == milestone_types.keys.first)}
          = "#{ViewHelper.unparamaterize(string)}"

    %button.btn.btn-outline-secondary.fs-6.milestone-email-btn.me-3{type: "button", "data-bs-toggle": "modal", "data-bs-target": "#milestone-email-modal"} Email
    %button.btn.btn-outline-secondary.fs-6.milestone-comment-btn{type: "button", "data-bs-toggle": "modal", "data-bs-target": "#milestone-comment-modal"} Comment