.seperating-section
  %h2.fs-3
    Facilitators

  %hr.divider

  #teams-partial-container
    = render partial: 'teams-list-card'

  - if current_user.is_staff?
    %hr.divider
    = render partial: 'marking-list-card'

  