-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

.seperating-section
  %h2.fs-3
    Facilitators

  %hr.divider

  #teams-partial-container
    = render partial: 'teams-list-card'

  - if current_user.is_staff?
    %hr.divider
    = render partial: 'marking-list-card'

