-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

%h1 Progress Form

%hr

#progress-form-partial-container
  = render partial: "progress_form/progress_form", locals: {progress_form: @progress_form.json_data, progress_response: @progress_response&.json_data, group: @current_group, facilitator: true, editing_form: false}

%a.btn.btn-success.mb-2#saveButton{onclick: "saveProgressForm()"} Save
%a.btn.btn-danger.mb-2#discardButton{onclick: "window.location.href = '#{facilitator_team_facilitators_path(team_id: @current_group.id)}';"} Discard

:javascript
  function saveProgressForm() {
    // Take attendance
    var attendance = [];
    document.querySelectorAll(".absent-checkbox").forEach(function(element) {
      var present = element.checked;
      var reason = "";

      if (!element.checked) {
        reason = document.getElementById(element.id.replace("absentCheckbox", "reasonTextInput")).value;
      }
      attendance.push([present, reason]);
    });

    // Get answers
    var question_responses = [];
    document.querySelectorAll(".question-textarea").forEach(function(element) {
      question_responses.push(element.value);
    });

    fetch("/facilitators/update_progress_form_response", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRF-Token": document.head.querySelector("meta[name=csrf-token]")?.content
      },
      body: JSON.stringify({
        "attendance": attendance,
        "question_responses": question_responses
      })
    })
    .then(response => response.json())
    .then(data => {
      if (data["status"] === "error") {
        alert(data["message"]);
      }
      else {
        window.location.href = data["redirect"];
      }
    })
    .catch(error => console.error('Error when updating progress form milestone response:', error));
  }
