-# Load all modules in the database

.separating-section 
    %h2
        Modules

    .flex-end
    = link_to new_admin_path, class: 'btn btn-primary' do
        %i.bi.bi-plus-square-fill
        Create New
    %hr.divider

    - @admin_modules.each do |mod|
        = link_to admin_path(mod), class: "project-link" do
            .project-button
                %h3
                    #{mod.code + ' ' + mod.name}
