-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

.form-check.form-switch
    %input.form-check-input{ type: "checkbox", id: "group-checkbox-#{id}", checked: assigned }
    %label.form-check-label{ for: "group-checkbox-#{id}" }= name