-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

// Update the section assessor's partial
var newPartialHTML = "#{j(render(partial: 'section_assessors', locals: {mark_scheme: @mark_scheme}))}";
$("#section-assessors").html(newPartialHTML);