var errorContainer = document.getElementById("import-error-container");
var errorMessage = document.getElementById("import-error-message");
var modalClose = document.getElementById("import-mark-scheme-close-button");

- if @error.nil?
  -# Remove errors 
  errorMessage.innerHTML = "";
  errorContainer.classList.add("d-none");
  modalClose.click();

  -# Rerender the section to update table row
  var newPartialHTML = "#{j(render(partial: 'section_assessors', locals: {mark_scheme: @mark_scheme_json}))}";
  $("#section-assessors").html(newPartialHTML);

- else 
  -# Display errors
  errorMessage.innerHTML = "#{@error}";
  errorContainer.classList.remove("d-none");
