%h1 Mark Scheme Builder

= link_to "New", "/mark_scheme/new"
= link_to "Edit", "/mark_scheme/edit"

// TODO: Need to be able to assign facilitators to the marking 
//       Have it so the module lead uses the modal person search, adds a number of facilitators for a section, then the teams divided evenly between
