-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

= render partial: 'course_project/components/project_info_header', locals: { project_id:  @current_project.id }

.row.align-items-center
    .col
        .fs-3.semi-bold Viewing Marks

    .col-auto
        .dropdown.d-inline-block
            %button.btn.btn-primary{
                type: "button",
                id: "team-selection-button",
                "data-bs-toggle": "dropdown",
                "aria-haspopup": "true",
                "aria-expanded": "false"}

                %span#team-selection-label Team: None
                %i.bi.bi-caret-down-fill

            .dropdown-menu{ "aria-labelledby": "team-selection-button", style: "max-height: 50vh; overflow-y: auto;" }
                %a.dropdown-item{ onclick: "updateTeam('None')" }= "None"

                %hr.dropdown-divider

                - @current_project.groups.each do |group|
                    %a.dropdown-item{ onclick: "updateTeam('#{group.name}')" }= group.name

%hr.divider

- if @mark_scheme.nil?
    .d-flex.justify-content-center.pt-3
        %i.fs-5.fw-light  No mark scheme for this project.

- else
    #marking-table-partial-container
        = render partial: "marking_table", locals: {}

:javascript
    const teamLabel = document.getElementById("team-selection-label");

    function updateMarkingTable() {
        // Make an ajax request to get a new form partial
        fetch("show_new", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").getAttribute("content")
            },
            body: JSON.stringify({
                group_name: teamLabel.textContent.replace("Team: ", "")
            })
        })
        .then(response => response.text())
        .then(data => {
            // Update partial container contents
            document.getElementById("marking-table-partial-container").innerHTML = data;
        })
        .catch(error => console.error("Error when updating marking table partial:", error));
    }

    function updateTeam(selection) {
        teamLabel.textContent = "Team: " + selection;
        updateMarkingTable();
    }