.separating-section#open-issues-section
  %h2
    %i.bi.bi-chat-left-dots-fill.fill-yellow
    Open

  - @open_issues.each do |issue|
    - issue_url = issues_path() + "#issue-#{issue.id}"
    = render partial:'issue-box', locals: { issue: issue, issue_url: issue_url, selected_project: @selected_project, selected_order: @selected_order }
  %hr.divider

.separating-section#resolved-issues-section
  %h2
    %i.bi.bi-check-circle-fill.fill-green
    Resolved

  - @resolved_issues.each do |issue|
    - issue_url = issues_path(issue) + "#issue-#{issue.id}"
    = render partial:'issue-box', locals: { issue: issue, issue_url: issue_url, selected_project: @selected_project, selected_order: @selected_order } 
  %hr.divider