:plain
  $('#reportIssueModal').modal('hide');
  
  document.getElementById('title').value = '';
  document.getElementById('description').value = '';

  $('#success-message').show();
  setTimeout(function() { 
    $('#success-message').hide(); 
  }, 3000);