.d-inline-flex.pb-2
  %i.bi.bi-funnel-fill
  Filter By: 
.d-flex.align-items-center
  .dropdown.me-3
    %button.btn.btn-primary{ type: "button", id: "dropdownMenuButton", "data-bs-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false" }
      Projects:
      %span.current-selection
      %i.bi.bi-caret-down-fill
    = form_with(url: "/issues/update-selection", method: :post, local: false) do |form|
      .dropdown-menu{ "aria-labelledby": "dropdownMenuButton" }
        %button.dropdown-item{ type: "submit", name: "selected_project", value: "All", selected: (@selected_project.nil? || @selected_project == "All") }
          All
        %hr.dropdown-divider
        - @user_projects.each do |user_project|
          %button.dropdown-item{ type: "submit", name: "selected_project", value: user_project.name, selected: (user_project.name == @selected_project)}
            = user_project.name

  .form-check.form-switch.form-check-reverse.me-3
    %input.form-check-input{ type: "checkbox", role: "switch",
     id: "flexSwitchCheckOpen", checked:true, onchange: "toggleSection('open-issues-section')"}
    %label.form-check-label{ for: "flexSwitchCheckOpen" }
      Show Open
  .form-check.form-switch.form-check-reverse.me-3
    %input.form-check-input{ type: "checkbox", role: "switch",
     id: "flexSwitchCheckResolved", checked:true, onchange: "toggleSection('resolved-issues-section')"}
    %label.form-check-label{ for: "flexSwitchCheckResolved" }
      Show Resolved

%hr.divider

.accordion-section#issues-section{style: "display: none;"}

:javascript
  document.addEventListener("DOMContentLoaded", function() {
    var currentSelection = $("#dropdownMenuButton .current-selection");
    currentSelection.text("#{@selected_project}");

    var divider = $('#issues-section');
    var updatedPartialHTML = "#{j(render(partial: 'issues-section'))}";
    $(divider).empty().append(updatedPartialHTML);
    $(divider).show();

    $("#flexSwitchCheckOpen").prop("checked", true);
    $("#flexSwitchCheckResolved").prop("checked", true);
  });

  function toggleSection(sectionId) {
    var section = document.getElementById(sectionId);
    if (section.classList.contains('display-none')) {
      section.classList.remove('display-none');
    } else {
      section.classList.add('display-none');
    }
  }

