-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

:plain
  var currentSelection = $("#dropdownMenuButton .current-selection");
  currentSelection.text("#{@selected_project}");

  var currentOrderSelection = $("#dropdownOrderMenuButton .current-selection");
  currentOrderSelection.text("#{@selected_order}");

  var divider = $('#issues-section');
  var updatedPartialHTML = "#{j(render(partial: 'issues-section', locals: { selected_project: @selected_project, selected_order: @selected_order }))}";
  $(divider).empty().append(updatedPartialHTML);
  $(divider).show();

  var openIssueSection = $('#open-issues-section');
  var resolvedIssueSection = $('#resolved-issues-section');
  var openToggleStatus = $('#flexSwitchCheckOpen').prop('checked');
  var resolvedToggleStatus = $('#flexSwitchCheckResolved').prop('checked');

  if (openToggleStatus) {
    openIssueSection.removeClass('display-none');
  } else {
      openIssueSection.addClass('display-none');
  }

  if (resolvedToggleStatus) {
    resolvedIssueSection.removeClass('display-none');
  } else {
      resolvedIssueSection.addClass('display-none');
  }