:plain
  var currentSelection = $("#dropdownMenuButton .current-selection");
  currentSelection.text("#{@selected_project}");

  var currentOrderSelection = $("#dropdownOrderMenuButton .current-selection");
  currentOrderSelection.text("#{@selected_order}");

  var divider = $('#issues-section');
  var updatedPartialHTML = "#{j(render(partial: 'issues-section'))}";
  $(divider).empty().append(updatedPartialHTML);
  $(divider).show();

  $("#flexSwitchCheckOpen").prop("checked", true);
  $("#flexSwitchCheckResolved").prop("checked", true);