%h1= "Team " + @team

.card#members
    .card-header 
        %strong Team Members
    .card-body
        %table.table
            %thead
            %tr
                %th Name
                %th Email
            %tbody
            - @members.each_with_index do |member, i|
                %tr
                %td= member
                %td= @emails[i]

<br>

.card#chat
    .card-header 
        %strong Team Chat

<br>

.card#progress_meetings
    .card-header 
        %strong Progress Meetings
