%h1.fs-1 Accessibility
Accessibility has been a cornerstone in the design and development of this website. If you have any concerns regarding accessibility, please don't hesitate to get in touch with us. Your feedback is invaluable as we continuously strive to enhance accessibility for all users.

%hr.divider 

%h3.fs-3 Considerations 
%ul 
    %li To reduce colour contrast issues, our primary colour is the University of Sheffield's purple.
    %li Important elements are labelled with the necessary attributes to allow for screen readers.
    %li We have made sure to give certain buttons multiple defining characteristics making them accessibile to a wider audience.
    %li All elements are sized and spaced adequately.

%hr.divider

%h3.fs-3 What we are doing to improve accessibility?
Ensuring accessibility is a top priority for us. We are dedicated to optimizing this website to cater to diverse audiences. Should you encounter any accessibility concerns, please don't hesitate to reach out. We are committed to addressing them promptly and effectively.