%h1.fs-1 Privacy
Ensuring your privacy is our utmost concern

%hr.divider 

%h3.fs-3 Information collected 
The University of Sheffield's login system is used, meaning we only have access to very basic data about users which we may store electronically.

%hr.divider 

%h3.fs-3 How the information collected is used
Personal information provided will only be used solely for the purposes stated when the information was given. No information will be transferred to or sold to third parties, or provided to direct marketing companies or such organisations without your permission.
Personal information collected/processed is held in accordance with the provisions of the Data Protection Act 1998.

%hr.divider 

%h3.fs-3 Access to information
The Data Protection Act 1998 gives you the right to access information held about you. For further information about this right and how to exercise it, please see the University's Policy on Data Protection.

%hr.divider 

%h3.fs-3 Changes to our privacy policy
From time to time, we may use your information for new, unanticipated uses not previously disclosed in our privacy policy. If our information practices change at some time in the future we will update this page.