// FILE FOR COMMON SCSS ELEMENT THAT WILL BE USED AROUND THE PROJECT

.display-none{
    display: none;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

// .common-button{
//     text-decoration: none;
//     color: inherit;
//     font-size: calc(0.6rem + 0.9vw);
//     display: flex;

//     border: 2px solid #000;
//     border-radius: calc(0.3rem + 0.45vw);
//     transition-duration: 0.1s;
//     padding: 0.2rem 1rem 0.2rem 0.5rem;

//     .bi{
//         padding-right: calc(0.2rem + 0.2vw);
//     }
// }
// .common-button:hover{
//     border-color:var(--sheffield-purple);
//     background-color: var(--sheffield-purple);
//     color: var(--primary-colour);
// }
// .common-button.smaller{
//     font-size: calc(0.3rem + 0.6vw);
// }

.fill-green{
    color:var(--green);
}
.fill-yellow{
    color:var(--yellow);
}
.fill-red{
    color:var(--red);
}

.separating-section{
    h2{
        display: flex;
        font-size: calc(1.3rem + 0.6vw);
        align-items: center;

        .bi{
            padding-right: calc(0.8rem + 0.1vw);
            font-size: calc((1.3rem + 0.6vw)* 0.6);
        }

        .bi::before{
            font-size: calc((1.3rem + 0.6vw)* 0.6);
            vertical-align: middle;
        }
    }

    h3{
        font-size: calc(1.1rem + 0.3vw);
    }
    padding-bottom:2rem;
}

.project-link{
    text-decoration: none;
    color: inherit;
}

.card-header{
    text-decoration: none;
    &[aria-expanded="false"] .bi {
        transform: rotate(0deg);
    }

    &[aria-expanded="true"] .bi {
        transform: rotate(90deg);
    }
    .bi{
        transition-duration: 0.2s;
    }
}

.project-button{
    width:100%;
    background-color: var(--secondary-colour);
    transition-duration: 0.1s;
    margin: 1.4vh 0;
    padding: 2rem 1rem;
    border-radius: 1rem;

    h3{
        font-weight:400;
        margin:0;
        font-size: calc(1.1rem + 0.3vw);
        display:flex;
        justify-content: space-between;
    }

    .sub-status{
        font-size: calc(0.9rem + 0.3vw);
    }
}
.project-button:hover{
    background-color: var(--secondary-colour-hover);
}

#backToTopButton{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(68 0 153 / 44%);

    &:not(.show){
        display: none;
    }
}

.card.list-card {
    .card-body{
        resize: vertical;
        height: 200px;
        max-height: fit-content;
        overflow-y: scroll;
    }
    .card-header{
        align-items: center;
        .btn-sm{
            height: fit-content;
        }
    }
}

.icon-pad {
    padding-left: 10px;
    color: var(--sheffield-purple);
}