@import "common";

$wrapper-size: 960px;

html {
  font-size: calc(8px + 1vmin);
  min-height: 100%
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden; /* Prevent body from scrolling */
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);

  header{
    background-color: var(--sheffield-purple);
  }

  main{
    overflow-y: auto;
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    padding-top: 1rem;
  }

  footer {
    margin-top: auto;
  }
}

.content-container{
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;

  max-width: $wrapper-size;
}

.navbars-container{
  $container-padding: 28px;
  display: flex;
  flex-direction: column;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.top-navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.5rem;

  .navbar-nav{
    flex-direction: row;
    align-items: center;

    .nav-item{
      padding-left: 0.25rem;
      padding-right: 0.25rem;

      a{
        color: white;
      }
    }
  }
}

.feature-navbar {
  max-width: $wrapper-size;
  background-color: var(--sheffield-purple);
  margin:0 auto;
  width:100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

  .navbar-nav{
    flex-direction: row;

    .nav-item{
      margin: 5px 10px 5px 0px;
      
      a {
        color: black;
      }

      .btn {
        font-size: 20px; // Adjust the font size as needed
        padding: 8px 27px;
      }
    }
  }

  .vertical-divider{
    display: flex;
    width: 2px;
    background-color: white;
    margin: 5px 10px 5px 0px
  }
}


.staff-project-view-navbar {
  margin:0;
  width:100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

  .navbar-nav{
    flex-direction: row;

    flex: 1; // Allow items to grow to fill the space evenly
    display: flex;
    justify-content: space-between;

    .nav-item {
      margin: 5px 10px 5px 0px;
       // Adjust the radius as needed

      .btn {
        font-size: 20px; // Adjust the font size as needed
        padding: 10px 35px;
      }
    }

    .nav-item.active {
      .btn {
        background-color: var(--sheffield-purple);
        color: white;
      }
    }
  }

  .vertical-divider{
    display: flex;
    width: 2px;
    background-color: lightgrey;
    margin: 5px 10px 5px 0px
  }
}

.flash-messages {
  pointer-events:none;
  z-index: 999;
  position: absolute;
  right: 10px;
  bottom: 0;

  min-width: 20%;
  animation: fadeInOut 5s forwards;
}
@keyframes fadeInOut {
  0% { opacity: 0; }
  5% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@media (max-width: $wrapper-size) {
  .flash-messages {
    width: calc(100% - 20px);
    height: 20%;
  }
  .flash-messages * {
    height: calc(100% - 10px);
  }
  .flash-messages .alert {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size:xx-large;

    display: flex;
  }
}


.navigation-list-item {
  // For displaying a div that will act as a link
  a {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    background-color: var(--primary-colour);
  }
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}