html {
  min-height: 100%
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-colour);

  header{
    background-color: var(--nav-colour);
  }

  main{
    display:flex;
  }

  footer {
    margin-top: auto;
  }
}

.top-navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-nav{
    flex-direction: row;
    font-size: 1.5rem;
    align-items: center;
    color: white;

    .nav-item{
      padding-left: 0.25rem;
      padding-right: 0.25rem;

      a{
        color: white;
      }
    }
  }
}

.left-navbar {
  background-color: var(--nav-colour);
  margin:0;
  max-width: fit-content;
  width:fit-content;

  .nav-item{
    margin: 5px 0;
  }

  .nav-link{
    padding: 5px 20px;
    border-radius: 0.6rem;
    display:flex;
    justify-content: center;
    background-color: var(--button-primary-colour);
  }
}