@import "common";

html {
  min-height: 100%
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden; /* Prevent body from scrolling */
  display: flex;
  flex-direction: column;
  background-color: var(--primary-colour);

  header{
    background-color: var(--sheffield-purple);
  }

  main{
    overflow-y: auto;
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    padding-top: 1rem;
  }

  footer {
    margin-top: auto;
  }
}

.content-container{
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.navbars-container{
  display: flex;
  flex-direction: column;
}

.top-navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.5rem;

  .navbar-nav{
    flex-direction: row;
    align-items: center;

    .nav-item{
      padding-left: 0.25rem;
      padding-right: 0.25rem;

      a{
        color: white;
      }
    }
  }
}

.feature-navbar {
  background-color: var(--sheffield-purple);
  margin:0;
  width:100%;
  display: flex;
  align-items: stretch;

  .navbar-nav{
    flex-direction: row;

    .nav-item{
      margin: 5px 10px 5px 0px;
    }
  }

  .vertical-divider{
    display: flex;
    width: 2px;
    background-color: white;
  }
}


.navigation-list-item {
  // For displaying a div that will act as a link
  a {
    text-decoration: none;
    color: black;
  }

  &:hover {
    background-color: var(--primary-colour);
  }
}