// This file is a part of Projman, a group project orchestrator and management system,
// made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$enable-responsive-font-sizes: true;

:root{

    // COLOURS
    --primary-colour: rgb(239, 239, 239);


    --locked-colour: #e3e3e3;

    --secondary-colour: rgb(224, 224, 224);
    --secondary-colour-hover:rgb(187, 187, 187);

    --background-color: rgb(241, 241, 241);

    --nav-colour: rgb(151, 151, 151);

    --button-primary-colour: rgb(237, 237, 237);

    --sheffield-purple: #440099;
    --sheffield-purple-lighter: #77599c;
    --sheffield-purple-shadow: rgba(68, 0, 153, 0.25);

    --green: #92d36e;
    --yellow: #ffb253;
    --red: #ff5d55;

    // SIZING
    --seperating-section-h2-font-size: calc(1.325rem + 0.9vw);
}

$primary: #440099;
$secondary: #c9c9c9;
$dark: #616161;

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark
));

// set changes
@import "bootstrap";

//overriding bootstrap styles
.form-check-input:checked {
  background-color: $primary !important;
  border-color: $primary !important;
}

.form-check-input:focus {
  border-color: var(--sheffield-purple-lighter) !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem var(--sheffield-purple-shadow) !important;
}

.form-switch .form-check-input:focus {
  --bs-form-switch-bg: url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%2377599c%27/></svg>') !important;
}

.form-switch .form-check-input:checked {
  --bs-form-switch-bg: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23fff%27/%3e%3c/svg%3e') !important;
}

.btn-dark{
  --bs-btn-hover-color: #ffffff !important;
}