@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

:root{

    // COLOURS
    --primary-colour: rgb(239, 239, 239);

    --secondary-colour: rgb(224, 224, 224);
    --secondary-colour-hover:rgb(187, 187, 187);

    --nav-colour: rgb(151, 151, 151);

    --button-primary-colour: rgb(237, 237, 237);

    --sheffield-purple: #440099;
    --green: #92d36e;
    --yellow: #ffb253;
    --red: #ff5d55;

    // SIZING
}