@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

:root{
    --primary-colour: rgb(239, 239, 239);
    --nav-colour: rgb(151, 151, 151);
    --button-primary-colour: rgb(237, 237, 237);
}