%h1= "Home"

-# Load all projects tied to the user
-# Students see all their projects and alert markers

.separating-selection
    = render partial:'project-button', locals: { project_id: 0 }
    = render partial:'project-button', locals: { project_id: 0 }