-# Load all projects tied to the user
-# Students see all their projects and alert markers

.separating-section 
    %h2
        Projects
    %hr.divider

    -#NEED EXAMPLES TO CREATE PROJECT BUTTONS

    = link_to "/projects/1", class: "project-link" do
        .project-button
            %h3
                EXAMPLEMOD exampleproj
                .sub-status
                    %i.bi.bi-circle-fill.fill-green