
= render 'components/accordion/container' do
  = render 'teams-accordion-card', team_name: "hello"
  = render 'teams-accordion-card', team_name: "hello 2"
  = render 'teams-accordion-card', team_name: "hell 3o"