-# A partial for group items that have just a delete button and a piece of text

-# LOCAL VARIABLES:
-# item_text

%li.list-group-item.d-flex.ps-1.align-items-center
  %button.btn.btn-light.btn-sm.me-2.btn-delete{onclick: "deleteGroupItem(this)"}
    %i.bi.bi-x.text-secondary
  = item_text