-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

- project = CourseProject.find(project_id)

.d-flex.justify-content-between
  .fs-1.fw-semi-bold= project.name

  .d-flex.pt-3{style: "height: 75%" }
    - unless params[:action] == 'edit'
      -# = link_to project_teams_path(project_id), class: 'btn btn-primary' do
      -#   Back
      = link_to edit_project_path(project_id), class: 'btn btn-primary' do
        Edit Project

%hr.divider