-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

- project = CourseProject.find(project_id)

.d-flex.justify-content-between
  .fs-1.fw-semi-bold= project.name

%hr.divider