-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

%h2.fs-3 Marking
%hr.divider
.fs-5 Here are all your assigned mark scheme sections.
%hr.divider

= render partial: 'sections-list-card'