-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

%h2.fs-3 My Marking
%hr.divider


= render partial: 'sections-list-card'