- unique_id = "collapseIssue_#{SecureRandom.hex(4)}" # Generate a unique ID using SecureRandom

.card.issue-card.mb-2.accordion-element
  %a.card-header.d-flex.justify-content-between.align-items-center{"data-bs-toggle" => "collapse",
   href: "##{unique_id}",
   role: "button",
   "data-accordion-toggle" => "",
   "aria-expanded" => "false",
   "aria-controls" => unique_id}
    .d-flex.align-items-center
      %h3.m-0.fs-5.fw-medium Deadlines and Milestones
    %i.bi.bi-caret-right-fill
  .collapse{id: unique_id}
    .card-body.pt-1.pb-1
      %h1.fs-5.fw-semibold Project Deadline
      %h1.fs-5.fw-normal.fst-italic dd/mm/yyyy
      %hr.divider
      %h1.fs-5.fw-semibold Project Milestones
      %h1.fs-5.fw-normal.fst-italic Milestone Name - dd/mm/yyyy
      %h1.fs-5.fw-normal.fst-italic Milestone Name - dd/mm/yyyy
      %h1.fs-5.fw-normal.fst-italic Milestone Name - dd/mm/yyyy
      %h1.fs-5.fw-normal.fst-italic Milestone Name - dd/mm/yyyy