- unique_id = "student-list-card-#{SecureRandom.hex(5)}"  # Generate a unique ID
.card.list-card{id: unique_id}
  .card-header.d-flex.justify-content-between
    %h1
  .card-body.pt-1.pb-1
    %table.table
      %thead
        %tr
          %th{scope: "col"} Name
          %th{scope: "col"} Email
          %th{scope: "col"} UCard Number
        %tbody
          - @students.each do |student|
            %tr
              %td #{student.forename + ' ' + student.surname}
              %td #{student.email}
              %td #{student.ucard_number}
