-# Load all modules in the database

.separating-section
    .d-flex.align-items-center.justify-content-between
        %h2
            Modules
            
        - if @show_create_button
            = link_to new_module_path, class: 'btn btn-primary' do
                %i.bi.bi-plus-square-fill
                Create New
    %hr.divider

    - @admin_modules.each do |mod|
        = link_to module_url(mod), class: "project-link" do
            .project-button
                %h3
                    #{mod.code + ' ' + mod.name}

- if @admin_modules.empty?
    .d-flex.justify-content-center
        %i.fs-6 You do not currently lead any modules, if you should be, please contact an admin.
