.project-choice-option.mt-2.mb-2
  %input.btn-check{ type: "checkbox", id: "SUBPROJ_#{id}", name: "SUBPROJ_#{name}", autocomplete: "off" }
  %label.btn.btn-outline-primary.w-100{ for: "SUBPROJ_#{id}" }=choice_name