:plain
  var team_id = #{@team_id};
  var section = $('.project-teams-team-container#project_team_container_' + team_id)
  var projectChoiceText = section.find('.project-choice-text')
  projectChoiceText.text("Project: #{@project_choice_name}")