// This file is a part of Projman, a group project orchestrator and management system,
// made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

- @facilitators_added.each do |facilitator_email|
    var newPartialHTML = "#{j(render(partial: 'components/group-item-simple', locals: { item_text: facilitator_email, deletion_action_url: remove_facilitator_projects_path }))}";
    $("#project-facilitators-list").append(newPartialHTML);