-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

- project_data = {}
- errors = {}
- if session[:project_data].present?
  - project_data = session[:project_data]
  - errors = project_data[:errors]

= render 'project_form', project_data: project_data, errors: errors, form_url: "/projects/new", form_id: "create-project-form" do
  %div
    .d-flex.justify-content-end

      %button.btn.btn-secondary.mb-2.me-2{type: "button", onclick: "window.location='/projects'; return false;"}
        Discard
      %button.btn.btn-primary.mb-2#create-project-save-button{type: "submit", onclick: "showLoadingModal()" }
        Save

= render partial: 'project_form_modals', locals: {project_data: project_data, errors: errors}

= render partial: 'components/loading_modal'
