// This file is a part of Projman, a group project orchestrator and management system,
// made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

:plain
  var chatBox = $('#chat-box');
  var previousBox = chatBox.prev();
  chatBox.remove();
  var newPartialHTML = "#{j(render(partial: 'course_project/components/team-chat-box'))}";
  $(previousBox).after(newPartialHTML);

  var collapseElement = $('#chat-box-card .collapse');
  collapseElement.addClass('show');
  $('#chat-box-card').attr('aria-expanded', 'true');

  var chatBoxContainer = document.getElementById('chat-box-container');
  chatBoxContainer.scrollTop = chatBoxContainer.scrollHeight - chatBoxContainer.clientHeight;

  var projectsBtn = $('#projects-btn');
  var notificationNeeded = #{current_user.project_notification?};

  console.log(notificationNeeded);
  console.log(projectsBtn)

  if (notificationNeeded) {
    projectsBtn.html('<a href="#{projects_url}" class="btn btn-light">Projects <i class="bi bi-exclamation-diamond-fill icon-pad-nav"></i></a>');
  } else {
    projectsBtn.html('<a href="#{projects_url}" class="btn btn-light">Projects</a>');
  };

  console.log(projectsBtn.html)