-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

= render partial: 'course_project/components/project_info_header', locals: { project_id: @current_project.id }

= render 'components/accordion/container' do
  - @teams.each do |team|
    = render 'teams-accordion-card', team: team

:javascript
  // This is to allow a row to be clicked and have it check the selection box
  document.querySelectorAll('.list-card .table tbody tr').forEach(function(row) {
    row.addEventListener('click', function(event) {
      if (event.target.tagName !== 'INPUT') { // Check if the clicked element is not an input
        var checkbox = row.querySelector('.form-check-input');
        checkbox.checked = !checkbox.checked; // Toggle checkbox state
      }
    });
  });
