%h1 Profile

.separating-section
  %h2 Personal Information
  %p Surname:
  %p Forname(s):
  %p Preferred Name:
  %p Title:

  %p Email:

  %p
    Gender:
    %button.common-button.smaller Request Change
  