-# The nav bar that contains the main features a user can access
-# Will get populated with more buttons depending on role and route

%nav.feature-navbar
  %ul.navbar-nav 
    %li.nav-item
      = link_to '/projects', class: 'active nav-link' do
        Projects 
    %li.nav-item
      = link_to '/students', class: 'active nav-link' do
        Students
    %li.nav-item
      = link_to '/issues', class: 'active nav-link' do
        Issues
  .vertical-divider