
%footer.left-sidebar{style: "position: fixed; bottom:0%; width: auto;"}
    %ul.nav.text-align-left.border-bottom.mt-1.mb-1
        %li.nav-item
            %a.nav-link.text-muted{href: "/accessibility"} Accessibility
        %li.nav-item
            %a.nav-link.text-muted{href: "/privacy"} Privacy

    %p.text-center.text-muted © 2024 The University of Sheffield
    %p.d-none Made by Team 5 - Jakub, Adam, Sam, Josh, Oliver