%nav.left-navbar
  .container-fluid
    %ul.navbar-nav
      %li.nav-item
        = link_to '/projects', class: 'active nav-link' do
          Projects 
      %li.nav-item
        = link_to '/students', class: 'active nav-link' do
          Students
      %li.nav-item
        = link_to '/issues', class: 'active nav-link' do
          Issues