%nav.top-navbar
    = link_to '/', class: 'active nav-link' do
        %i.bi-kanban-fill
        Projman

    - if user_signed_in?
        %ul.navbar-nav
            %li.nav-item
                = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-light', style: 'color: black'
            %li.nav-item
                Emma Norling
            %li.nav-item
                = link_to '/settings', class: 'active nav-link' do
                    %i.bi-gear-fill
            %li.nav-item
                = link_to '/profile', class: 'active nav-link' do
                    %i.bi-person-circle