%nav.top-navbar
    = link_to '/', class: 'active nav-link' do
        %i.bi-kanban-fill
        Projman

    %ul.navbar-nav
        %li.nav-item
            Emma Norling
        %li.nav-item
            = link_to '/students', class: 'active nav-link' do
                %i.bi-gear-fill
        %li.nav-item
            = link_to '/students', class: 'active nav-link' do
                %i.bi-person-circle